.archive-title {
font-size: 43px;
color: rgb(177, 177, 177);	
padding-top: 11px;
text-transform: none;
font-weight:300;
}
.archive-title span {
font-weight: 100;
font-size: 35px;
font-family: "Source Sans Pro", sans-serif;	
background: rgb(207, 207, 207);
color: #fff;
padding: 0 10px;
}
#content h2 {
clear:none;
text-transform: none;
padding-bottom:10px;
}
h2 a {
font-weight: 400;
font-size: 2em;
}
img.wp-post-image {
float: left;
margin-right:20px;	
}
.post-type-archive-ona_speaker h2 {
padding-bottom:5px;	
}
.news_item {
overflow:auto;
margin-bottom:20px;	
padding-bottom:20px;
border-bottom:1px dotted #ccc;
}
.news_item p {
line-height: 1.5;
}
.news_item div {
margin-left:75px;
padding: 0 5px;
}
.news_item div.Sponsored {
background: #F0F0F0;
padding: 2px 5px 13px;
border-radius: 5px;
}
.news_item .excerpt {
line-height: 170%;
font-size: 0.9em;
}

h2.sponsor_level {
font-size: 1.7em;
font-weight: 400;
padding-bottom: 10px;
margin-top: 30px;
margin-bottom: 20px;
border-bottom: 1px #DDD dotted;
text-transform: uppercase;
background: #EEE;
line-height: 20%;
}