.archive-title {
font-size: 43px;
color: rgb(177, 177, 177);	
padding-top: 11px;
text-transform: none;
font-weight:300;
}
.archive-title span {
font-weight: 100;
font-size: 35px;
font-family: "Source Sans Pro", sans-serif;	
background: rgb(207, 207, 207);
color: #fff;
padding: 0 10px;
}
h2 {
clear:none;
text-transform: none;
padding-bottom:13px;
}
h2 a {
font-weight: 400;
font-size: 2em;
}
img.wp-post-image {
float: left;
margin-right:20px;	
}

.news_item {
overflow:auto;
margin-bottom:20px;	
padding-bottom:20px;
border-bottom:1px dotted #ccc;
}
.news_item div {
margin-left:170px;
}
.news_item .date {
font-size: 11px;
text-transform: uppercase;
padding-bottom:10px;
}
.news_item .excerpt {
line-height: 170%;
font-size: 0.9em;
}