@charset "UTF-8";
/* CSS Document */
body .site,
body .site-content,
body.template-front-page .site-content {
	max-width:100% !important;	
}
body .wrapper {
	margin:0;
}
body #megaMenu {
margin-bottom:0;	
}
body.home #primary {
width: 100%;
padding: 15px 0;
}

.lead_text p {
	font-size:1.7em;
	line-height:170%;
	font-family: 'Roboto Slab', serif;
	font-family: 'Source Sans Pro', serif;
	font-weight:300;
}
.button:hover {
	background: rgb(98, 86, 150);	
}
.headlines {
	margin-bottom:20px;	
	border-bottom: 1px dotted #ccc;
	padding-bottom:20px;	
}
.headlines li {
	padding:15px 0 0 15px;
}
.headlines .title {
	background: #9999CC;
	padding:10px 0 10px 15px;
	position: relative;
}
.headlines .title a {
	font-weight:700;
	color: #fff;
	text-transform:uppercase;	
}
.sponsor-row {
border-bottom: 1px dotted #AAA;
padding-top: 20px;
margin: 30px 5% 20px;
text-align: center;
border-top: 1px dotted #AAA;
}
.sponsor-row h4 {
font-size: 2.6em;
}

/* Timeline */
.vco-storyjs .vco-feature h3, .vco-storyjs .vco-feature h4, .vco-storyjs .vco-feature h5, .vco-storyjs .vco-feature h6,
.vco-timeline .vco-navigation .timenav .content .marker .flag .flag-content h3,
.vco-storyjs h2.start {
	border-bottom:0;
	height:auto;
	font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
	font-weight: 600;
}
.vco-storyjs .vco-feature .pad-left h3, .vco-storyjs .vco-feature .pad-left h4, .vco-storyjs .vco-feature .pad-left h5, .vco-storyjs .vco-feature .pad-left h6,
.vco-timeline .vco-navigation .timenav .content .marker .flag .flag-content h3 {
	text-align: left;	
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 600;
}
#page .vco-storyjs { 
z-index:5;
}
#primary {
	margin-bottom:15px;
}
.vco-slider .slider-item .content .content-container .text .container h2.date {
font-size:12px;	
}
#primary .vco-storyjs p, #primary .vco-storyjs blockquote, #primary .vco-storyjs blockquote p, #primary .vco-storyjs .twitter blockquote p {
	font-family: 'Source Sans Pro', serif !important;
	font-weight: 300;
	font-size: 17px;
	line-height: 150%;
}
.vco-storyjs h1 a, .vco-storyjs h2 a, .vco-storyjs h3 a, .vco-storyjs h4 a, .vco-storyjs h5 a, .vco-storyjs h6 a {
	color: #306 !important;
	font-weight: 600;	
}
.vco-storyjs h1 a:hover, .vco-storyjs h2 a:hover, .vco-storyjs h3 a:hover, .vco-storyjs h4 a:hover, .vco-storyjs h5 a:hover, .vco-storyjs h6 a:hover {
	color: #99C !important;
	text-decoration:none;
}
#primary .vco-storyjs blockquote {
	font-size:24px;
}
	
@media screen and (min-width:670px){
	body.home .site-content,
	body.full-width.home .site-content {
		width:96%;	
		padding:20px 2%;
	}
	#content > div {
		overflow:auto;	
	}
	.lead_package {
		margin-bottom:20px;	
	}
	.lead_text {
		width:63%;
		margin: 0 2%;
		float:left;
	}
	.headlines {
		width:29%;
		margin: 0 1% 0 2%;
		float:left;
		padding:3px 0 8px;
		border-bottom:0;
	}
	.headlines li {
		border-left:1px solid #ccc;
	}
	.headlines .title:before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		border-width: 0 16px 16px 0;
		border-style: solid;
		border-color: #fff #fff #392C72 #392C72;
	}
}