.midway_logo {
	margin-top: -20px;
	margin-left: 25px;
	margin-bottom: -2px;
}
.lead_text p {
	font-size: 1.7em;
	line-height: 170%;
	font-family: 'Roboto Slab', serif;
	font-family: 'Source Sans Pro', serif;
	font-weight: 300;
}
.sponsor-row {
	margin-bottom:40px;
	margin-top:0;
}
.sponsor-row > p {
	font-size: 0.8em;
color: #CCC;
text-transform: uppercase;	
}
#participants {
text-align:center;	
}
#participants select {
display:block;
width:92%;
margin:0 4% 30px;
}
#participants img {
max-height: 60px;
width: auto;
margin-bottom: 20px;
margin-right: 30px;
}