.entry-header .entry-title {
margin: 10px 0 25px;
font-family: 'Source Sans Pro', serif;
font-weight: 400;
font-size: 50px;
text-transform: none;
padding-bottom: 20px;
border-bottom: 1px dotted #CCC;
}
.entry-header p {
font-size: 11px;
text-transform: uppercase;
}
.entry-header p span {
font-weight:bold;	
}
.entry-content {
width: 85%;	
}
#article_img {
height:50px; 
max-width:100%;
height:auto;
margin: 10px 0 20px;	
background: #eee;
border-radius:8px;
-moz-border-radius:8px;
-webkit-border-radius:8px;
overflow:hidden;
}
#article_img img {
margin:0 auto;	
border-radius:8px;
-moz-border-radius:8px;
-webkit-border-radius:8px;
max-width:100%;
height:auto;
}
@media screen and (max-width:900px){
	.entry-content {
		width: 100%;
	}
}
@media screen and (max-width:670px){
	.entry-header .entry-title {
		font-size:35px;	
	}
}
