.entry-header .entry-title {
margin: 10px 0 25px;
font-family: 'Source Sans Pro', serif;
font-weight: 400;
font-size: 50px;
text-transform: none;
padding-bottom: 20px;
border-bottom: 1px dotted #CCC;
}
.entry-header p {
font-size: 11px;
text-transform: uppercase;
}
.entry-header p span {
font-weight:bold;	
}
.entry-content {
width: 85%;	
}
#article_img {
height:50px; 
max-width:100%;
height:auto;
margin: 10px 0 20px;	
background: #eee;
border-radius:8px;
-moz-border-radius:8px;
-webkit-border-radius:8px;
overflow:hidden;
}
#article_img img {
margin:0 auto;	
border-radius:8px;
-moz-border-radius:8px;
-webkit-border-radius:8px;
max-width:100%;
height:auto;
}
/* Sponsors / Advertisements */
#content .sponsor {
border-radius:5px;
background:#DBDBF9;	
padding:10px 10px 10px 0;
margin-bottom:25px;
margin-left:-10px;
color: #7760A8;
font-family:'Source Sans Pro', serif;
font-weight:300;
font-size:1.2em;
}
#content .sponsor p {
padding-left:80px;
line-height: 140%;
}
#content .sponsor div {
padding: 3px 10px;
color:#fff;
text-transform:uppercase;
font-size:10px;
float:left;
margin-top: 2px;
background: #330066;
}
#content .sponsor a:hover {
text-decoration:underline;	
}
#content .sponsor img {
float:right;
margin-left:30px;
}
#content .headlines {
list-style:none;
}
#content .headlines li {
margin:0;
}
.addthis_toolbox {
margin-bottom:30px;
}
.related {
overflow:auto;
clear: both;
border-top: 1px dotted #ccc;
}
.related h4 {
margin: 15px 0 5px;
}
.related .topics {
margin-top:15px;	
}
img.small-featured {
float: right;
max-width: 380px;
margin-bottom: 20px;
margin-left: 20px;
}

@media screen and (min-width:800px){
	#content .headlines {
		width:47%;
		float:left;
	}
	#content .headlines:first-child {
		margin-right:6%;
	}
}
@media screen and (max-width:900px){
	.entry-content {
		width: 100%;
	}
}
@media screen and (max-width:670px){
	.entry-header .entry-title {
		font-size:35px;	
	}
}
