/* ----- */
#content .shoulderbox {
float:right;
margin:0 -60px 20px 20px;
background: rgb(233, 233, 233);	
padding:15px;
width:120px;
}
#content .shoulderbox .sponsored {
color:#fff;
text-transform:uppercase;	
background: #330066;
}
#content .shoulderbox p {
text-align:center;	
font-family:'Source Sans Pro', serif;
margin-bottom:10px;
}
.session-meta {
margin-bottom:15px;	
}
.session-meta li {
display: inline-block;
padding: 5px 10px 5px 0;
border-right: 1px solid #ccc;
margin-right: 10px;	
font-weight:700;
}
.session-meta li:last-of-type {
padding: 5px 0;
border-right: 0;
margin-right: 0;	
}