.session-time-block {
overflow: auto;
}
.session-start-time {
	float:left; 
	width:9%;
	padding:25px 1% 10px 0;
	font-family:'Source Sans Pro', serif;
}

ul.session-list {
	font-family:'Source Sans Pro', serif;
	width:90%;
	padding-top:15px;
	padding-left:20px;
	border-left:1px solid #ccc;
	overflow:auto;
	box-sizing:border-box;
	border-bottom:1px dotted #ccc;
	min-height: 65px;
}
ul.session-list:hover {
	background:#f1f1f1;
}
.single-session {
	margin-bottom:15px;
	background: #e5e5e5;
	border: 1px solid rgba(116, 116, 116, 0.2);
	border-radius: 10px;
	text-shadow: 1px 1px 0 rgba(255,255,255,.5);
	box-shadow: 1px 1px 3px rgba(0,0,0,0.25);	
}
.single-session.Listen {
background: #e6e3fc;
}
.single-session.Solve {
background: #ffbdb0;
}
.single-session.Make {
background: #fff9eb;
}
.single-session.Midway {
background: #C6E5C3;
}
.single-session:hover {
background: #C4C4C4;
border: 1px solid rgba(116, 116, 116, 0.4);
text-shadow: -1px -1px 0 rgba(0,0,0,.25);
}
.single-session:hover h4 {
color: #fff;
}
.single-session.Listen:hover {
background: #4D3881;
}
.single-session.Solve:hover {
background: #A92A00;
}
.single-session.Make:hover {
background: #DCBE62;
}
.single-session.Midway:hover {
background: #8DCB86;
}
.session-list > a:nth-of-type(3n+1) .single-session{
	clear:both;
}
.session-list > a > li {
	box-sizing:border-box;
	padding:10px;
	margin-right:2%;
	width: 31%;
	float:left;	
}
.session-count-1 > a > li { width:98%;}
.session-count-2 > a > li { width:48%; }
.av_content {
	float:right;
	margin-left:10px;
	margin-bottom:8px;	
}
h4.session-title {
	font-family:'Source Sans Pro', serif;
	color:#222;
	font-weight:600;
	text-transform:none;
	clear:none;
}
a .single-session .meta {
	font-weight:400;
	color:#666;
}
a .single-session:hover .meta {
	color:#ccc;
}
ul.session-details {}

.session-description {display:none;}


/* Top content */

h1 {
	margin-top:10px	
}
.left {
	float:left;
	width:45%;
	margin-right:3%;
	line-height:140%;
}
.left > p {
	line-height:160%;
}
.right {
	float:right;
	width:48%;
	background:#eee;
	padding:0 2% 15px;	
	margin-bottom:15px;
	line-height:170%;
	font-size:1.3em;
	font-weight:100;
}
.right p {
	padding-top:15px;	
	font-family:'Source Sans Pro', serif;
}

/* Schedule nav */
h3.schedule_day {
text-align: left;
font-size: 52px;
font-weight:300;
padding: 30px 0 0;
margin-top:30px;
margin-bottom:0;
border-top: 1px solid #CCC;	
}
h3.schedule_day span {
background:none;
padding:0;
opacity: 0.7;	
}
.schedule_nav {
	overflow:auto;
	clear:both;
	padding:15px 0;
	border-bottom: 1px dotted #ccc;
}
.key {
	clear:both;
	overflow:auto;
	margin:30px 0;
}
.key .label {
	margin-top:6px;
	font-weight:bold;
	font-size:22px;
}
.key > div {
	float:left;
	width:18%;
	padding:0 1%;
	text-align:center;
	line-height: 130%;
}
.key div div {
	padding:7px 0 0;
}
.key div:last-of-type {
	border-right: 0;
	margin-right: 0;
	padding-right: 0;	
}

.schedule_nav .labels div {
	float:left;
	text-align:center;
	background:#bbb;
	color:#fff;
	padding:5px 0;
	margin-bottom:6px;
	font-size:0.8em;
	text-transform:uppercase;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.days {width: 32%; margin-left:0%;}
.types {width: 65%; margin-left: 3%;}
.schedule_nav .buttons div {
	padding:10px 1%;
	width:8%;
	font-weight:bold;
	color:#fff;	
	margin-left:1%;
	text-align:center;
	background:#bbb;
	float:left;
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;
}
.schedule_nav .buttons div:first-of-type {
	margin-left:0%;
}
.schedule_nav .buttons div:nth-of-type(4) {
	margin-left:3%;
}
.schedule_nav .buttons div:hover {
	zoom: 1;
	filter: alpha(opacity=100);
	opacity: 1;
	cursor: pointer;	
}
.key .listen {color: #4D3881;}
.key .solve {color: #A92A00;}
.key .make {color: #DCBE62;}
.key .midway {color: #8DCB86;}
.schedule_nav div.listen {background: #4D3881;}
.schedule_nav div.solve {background: #A92A00;}
.schedule_nav div.make {background: #DCBE62;}
.schedule_nav div.midway {background: #8DCB86;}


@media screen and (max-width:900px){
	h3.schedule_day {
	font-size:36px;
	}
}
@media screen and (max-width:530px){
	h3.schedule_day {
	font-size:25px;
	}
}
@media screen and (max-width:600px) {
	.key { overflow: visible;}
	.key > div {
	float:none;
	width:auto;
	text-align:left;
	}
}
@media screen and (max-width:650px) {
		
	.left {width:100%; margin-bottom:0; float:none;}
	.right {display:none;}
	.key > div { padding:0; }
	.days, .types { display:none; }
	.schedule_nav .buttons .day {width: 30%}
	.schedule_nav .buttons .type {width: 14%; margin-top:8px;}
	.schedule_nav .buttons div:first-of-type,
	.schedule_nav .buttons div:nth-of-type(2) {
		width: 31%;
	}
	.schedule_nav .buttons div:nth-of-type(4) {
		margin-left:0%;
	}
	.schedule_nav .buttons div:last-of-type {
		width:13%;	
	}
	
	.session-list > a > li {
	width:98%;
	}
}