/* ----- */
#content .shoulderbox {
float:right;
margin:0 -60px 20px 20px;
background: rgb(233, 233, 233);	
padding:15px;
width:120px;
}
#content .shoulderbox .sponsored {
color:#fff;
text-transform:uppercase;	
background: #330066;
}
#content .shoulderbox p {
text-align:center;	
font-family:'Source Sans Pro', serif;
margin-bottom:10px;
}
.session-meta {
margin-bottom:15px;	
}
.session-meta li {
display: inline-table;
padding: 5px 10px 5px 0;
border-right: 1px solid #ccc;
margin-right: 10px;	
font-weight:700;
}
.session-meta li:last-of-type {
padding: 5px 0;
border-right: 0;
margin-right: 0;	
}
.track div {
background: #ccc;
padding: 4px 8px;
color: #FFF;
border-radius: 5px;
}
.track .Listen {background: #4D3881;}
.track .Solve {background: #A92A00;}
.track .Make {background: #DCBE62;}
.track .Midway {background: #8DCB86;}

/* Speakers */
.speakers h4 {
margin:0;
line-height: 1;
}

/* Speaker template */
.presenter-avatar {
float:right;
margin-left:2%;
margin-bottom:10px;	
}
.presenter-avatar img {
max-width: 160px;
height: auto;
}