.session-meta li {
display: inline-table;
padding: 5px 10px 5px 0;
border-right: 1px solid #ccc;
margin-right: 10px;	
font-weight:700;
}
.session-meta li:last-of-type {
padding: 5px 0;
border-right: 0;
margin-right: 0;	
}
.track div {
background: #ccc;
padding: 4px 8px;
color: #FFF;
border-radius: 5px;
}

.wp-post-image {
	float:right;
	padding-left:20px;
	margin: 0 0 20px 20px;
	border-left:1px solid #ddd;	
}
.sponsor-level {
padding: 2px 5px 3px;
border-radius: 4px;
background: #99C;
color: #FFF;
display: inline-block;
}
.track div.ONAngel { background: #fff; border: 1px solid #999; color: #999; box-sizing:content-box;}
.track div.Diamond { background: #EEEEE9; color: #999; }
.track div.Platinum { background: #D2D8E2; }
.track div.Gold { background: #DAD169; }
.track div.Silver { background: #ADADAD; }
.track div.Bronze { background: #DAB169; }
.track div.Supporters { background: #E99595; }
.track div.Midway {background: #8DCB86;}

